<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<context:annotation-config/>
	<!-- <bean id="b1" class="com.spr.MyMessage" scope="singleton">
	<property name="message" value="welcome to all" />
	</bean>
	
	<bean id="p" class="com.spr.Person">
	<constructor-arg value="Pavani" />
	</bean>
	
	<bean id="adr1" class="com.spr.Address" autowire-candidate="false">
	<property name="drno" value="12-135" />
	<property name="city" value="Hyderabad" />
	<property name="state" value="TS" />
	</bean>
	
	<bean id="adr2" class="com.spr.Address" >
	<property name="drno" value="1-2-122" />
	<property name="city" value="Bangalore" />
	<property name="state" value="Karnataka" />
	</bean>
	
	<bean id="emp" class="com.spr.Employee" autowire="byType">
	<property name="ename" value="Madhuri" />
	</bean> -->
	
	<bean id="adrHome" class="com.spr.Address" >
	<property name="drno" value="1-2-122" />
	<property name="city" value="Bangalore" />
	<property name="state" value="Karnataka" />
	</bean>
	<bean id="emp" class="com.spr.Employee" autowire="byType">
	<property name="ename" value="Madhuri" />
	</bean>

</beans>